@media screen and (min-width: 641px){
    .PageHeader {
        margin: 50px 0;
    }
    .ImageHero iframe {
        width: 100%;
        height: 200%;
        left: 0;
    }

    
    .ImageHero--small {
        min-height: 400px;
    }
    .FeatureText__Content {
        max-width: 430px;
        margin: 0 auto;
    }
    .u-h1, .Rte h1 {
        font-size: 20px;
    }
    .ProductItem__Info {
        font-size: 12px;
    }
    .Footer__Aside {
        text-align: left;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }    
    .Footer__Inner+.Footer__Aside {
        margin-top: 80px;
    }
    .Footer__PaymentList {
        padding: 0;
        margin: 0 -8px;
        border: none;
    }
    .Header__LogoImage {
        max-width: 100%;
    }
    .u-h1, .Rte h1 {
        font-size: 20px;
    }
    .TabList__Item+.TabList__Item {
        margin-left: 45px;
    }
    .u-h8 {
        font-size: 10px;
    }
    .u-h6, .Rte h6 {
        font-size: 12px;
    }                
    .ProductList--removeMargin {
        margin-bottom: -50px !important;
    }
    .ProductList--grid {
        /* padding: 0 24px; */
        margin-left: -24px;
    }
    .ProductList--grid>.Grid__Cell {
        padding-left: 40px;
        margin-bottom: 50px;
    }
    .u-h1, .Rte h1 {
        font-size: 20px;
    }
    .Footer__Inner {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        margin-left: -40px;
        margin-right: -40px;
    }    
    .Footer__Block {
        -webkit-box-flex: 1;
        -ms-flex: 1 1 50%;
        flex: 1 1 50%;
        margin-top: 0;
        margin-bottom: 50px;
        padding-left: 40px;
        padding-right: 40px;
    }
    .u-h6, .Rte h6 {
        font-size: 12px;
    }    
    .CollectionInner {
        margin-top: 50px;
    }    
    .Collapsible--autoExpand {
        margin-bottom: 32px;
    }
    .Collapsible--autoExpand {
        border: none;
        overflow: visible;
    }
    .Collapsible--autoExpand .Collapsible__Button {
        cursor: default;
        padding-top: 0;
        padding-bottom: 0;
        margin-bottom: 16px;
    }
    .Collapsible__Button {
        display: block;
        position: relative;
        width: 100%;
        padding: 20px 0;
        text-align: left;
        cursor: pointer;
    }
    .Collapsible--autoExpand .Collapsible__Inner {
        height: auto;
        visibility: visible;
    }
    .Collapsible--autoExpand .Collapsible__Plus {
        display: none;
    }
    .Collapsible--autoExpand .Collapsible__Content {
        padding-bottom: 0;
    }
    .Collapsible--autoExpand .Linklist {
        margin-bottom: 0;
    }          
    .Pagination {
        margin: 80px 0;
    }
    .Pagination__NavItem {
        padding-left: 28px;
        padding-right: 28px;
    }
                   
}



@media screen and (min-width: 1008px){
    .CollectionInner__Products {
        -webkit-box-flex: 1;
        -ms-flex: 1 0 0px;
        flex: 1 0 0;
    }    
    .Collapsible--padded {
        padding-left: 30px;
        padding-right: 30px;
    }
    .CollectionInner__Sidebar .Collapsible {
        padding: 0;
    }    
    .CollectionInner__Sidebar {
        position: -webkit-sticky;
        position: sticky;
        top: 130px;
        -webkit-box-flex: 0;
        -ms-flex: none;
        flex: none;
        -ms-flex-item-align: start;
        align-self: flex-start;
        width: 200px;
        margin: 0 16px 0 24px;
        padding-bottom: 50px;
    }    
    .CollectionInner {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }    
    .SectionHeader__Description {
        margin-top: 24px;
    }    
    .ShopTheLook__ViewButton {
        margin-top: 25px;
    }
    .ProductItem__ImageWrapper {
        max-width: 250px;
    }    
    .SectionHeader__ButtonWrapper {
        margin-top: 30px;
    }
    .shopify-section--bordered>.Section--spacingNormal {
        padding: 80px 0;
    }
    .SectionHeader:not(:only-child) {
        margin-bottom: 70px;
    }
    .\31\/4--lap-and-up, .\33\/12--lap-and-up {
        width: 25%;
    }
    .ProductList--grid>.Grid__Cell {
        padding-left: 40px;
        margin-bottom: 60px;
    }        
    .SectionFooter {
        margin-top: 80px;
    }
    .SectionHeader:not(:only-child) {
        margin-bottom: 70px;
    }    

}




@media screen and (min-width: 1240px){
    .CollectionInner .Pagination {
        margin-bottom: 80px;
    }
    .Pagination {
        margin: 120px 0;
    }    
    .\31\/4--desk, .\33\/12--desk {
        width: 25%;
    }    
    .CollectionInner__Sidebar {
        margin-right: 10px;
        margin-left: 50px;
    }    
    .ImageHero--small {
        min-height: 450px;
    }
    .Header--center .Header__Wrapper.Header__Wrapper {
        padding-bottom: 24px;
    }
    .Header:not(.Header--sidebar) .Header__Wrapper {
        padding: 18px 50px;
    }
    .Header--initialized .Header__Wrapper {
        opacity: 1;
    }
    .js .Header__Wrapper {
        opacity: 0;
        -webkit-transition: opacity 0.3s ease-in-out;
        transition: opacity 0.3s ease-in-out;
    }
    .Header__Wrapper {
        padding: 18px 30px;
    }
    .Header:not(.Header--sidebar) .Header__FlexItem--fill {
        -webkit-box-flex: 1;
        -ms-flex: 1 0 0px;
        flex: 1 0 0;
    }
    .Header--center .Header__FlexItem {
        margin-bottom: 40px;
    }
    .hidden-desk {
        display: none !important;
    }
    .Header--center .Header__MainNav {
        position: absolute;
        bottom: 0;
        left: 0;
        padding-bottom: 18px;
        width: 100%;
        text-align: center;
    }
    .Header--center .Header__MainNav .HorizontalList {
        margin-left: 0;
        margin-right: 0;
    }
    .HorizontalList--spacingExtraLoose {
        margin-left: -21px;
        margin-right: -21px;
    }
    .HorizontalList--spacingExtraLoose .HorizontalList__Item {
        margin-right: 21px;
        margin-left: 21px;
    }
    .Header--center .Header__FlexItem {
        margin-bottom: 40px;
    }    
    .Header:not(.Header--sidebar) .Header__Wrapper {
        padding: 18px 50px;
    }
    .Header__FlexItem:last-child {
        text-align: right;
    }
    .Container {
        padding: 0 80px;
    }     
    .ProductList--removeMargin[data-desktop-count="4"], .ProductList--removeMargin[data-desktop-count="3"] {
        margin-bottom: -60px !important;
    }
    .ProductList--grid[data-desktop-count="4"], .ProductList--grid[data-desktop-count="3"] {
        margin-left: -40px;
    }
    .ProductList--grid {
        padding: 0 50px;
    }
    .ProductList--grid[data-desktop-count="4"]>.Grid__Cell, .ProductList--grid[data-desktop-count="3"]>.Grid__Cell {
        padding-left: 40px;
        margin-bottom: 60px;
    }
    .ProductList--grid[data-desktop-count="4"]>.Grid__Cell{
        padding-left: 40px;
        margin-bottom: 60px;        
    }    
    .ProductList--grid>.Grid__Cell {
        padding-left: 40px;
        margin-bottom: 60px;
    }    
    .ProductList--grid {
        padding: 0 50px;
        padding-top: 0px;
        padding-right: 50px;
        padding-bottom: 0px;
        padding-left: 50px;
    }    
    .ProductList--grid[data-desktop-count="4"], .ProductList--grid[data-desktop-count="3"] {
        margin-left: -40px;
    }
    .Footer__Inner {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
    }
    .Footer__Block--text {
        -ms-flex-preferred-size: 460px;
        flex-basis: 460px;
    }
    .Footer__Block--text, .Footer__Block--newsletter {
        -ms-flex-preferred-size: 240px;
        flex-basis: 240px;
    }        
    .Footer__Block {
        -webkit-box-flex: 0;
        -ms-flex: 0 1 auto;
        flex: 0 1 auto;
    }
    .Footer__Block--text, .Footer__Block--newsletter {
        -ms-flex-preferred-size: 240px;
        flex-basis: 240px;
    }
    .Footer__Block--text {
        -ms-flex-preferred-size: 460px;
        flex-basis: 460px;
    }
    .Footer__Block--newsletter {
        -ms-flex-preferred-size: 375px;
        flex-basis: 375px;
    }
    .Cart-Show{
        width: 30%;
    }
}


@media screen and (max-width: 640px){
    .owl-carousel-RECENT .owl-stage{
        justify-content: flex-start !important;
    }    
    .hidden-pocket {
        display: none !important;
    }    
    .CollectionToolbar__Item:first-child {
        border-left: none;
    }
    .Pagination {
        margin: 0 0 60px 0;
    }    
    .break-except-home {
        height: 50px;
        width: 50px;
    }
    .ProductItem__Info {
        margin-top: 10px;
        margin-bottom: 15px;
    }
    .img-slide-LOOK{
        display: none;
    }
    .\31\/2--phone, .\32\/4--phone, .\36\/12--phone {
        width: 50%;
    }
    .ProductList--grid {
        margin-left: -10px;
    }
    .ProductList--grid>.Grid__Cell {
        padding-left: 10px;
        margin-bottom: 35px;
    }
    #section-collection-list .owl-carousel .item {
        height: 470px;
    }
    .SectionFooter {
        margin-top: 15px;
        text-align: center;
        margin-bottom: 20px;
    }    
}


@media only screen and (max-width: 765px) {


}

@media only screen and (max-width: 800px) {  

}

@media only screen and (max-width: 700px) {
    #section-announcement a {
        color: red;
        font-size: 11px;
    }    
    .Header-Nav-Mobile{
        display: block;
    }
    .shopify-section--header{
        height: 118px;
        visibility: hidden;        
    }
    .Slideshow .swiper-container-horizontal>.swiper-pagination-bullets{
        left: 41px;
        right: auto;
    }    
    .swiper-container {
        height: 470px;
    } 
    .swiper-slide {
        height: 470px;
    }       
    h1{
        /* font-size: 2.5rem; */
        font-size: 1.55rem;
    }
    h2{
        /* font-size: 2.5rem; */
        font-size: 1.4rem;
    }
    h3{
        /* font-size: 2.5rem; */
        font-size: 1.3rem;
    }
    h4{
        /* font-size: 1.5rem; */
        font-size: 1.2rem;
    }
    h5{
        /* font-size: 2.5rem; */
        font-size: 1.1rem;
    }
    h6{
        /* font-size: 2.5rem; */
        font-size: 1rem;
    }
    p{
        font-size: .9rem;
    }




}

@media only screen and (max-width: 378px) {  /* HP gw */




}


@media screen and (min-width: 768px){
.carousel-caption {
    /* left: 20%; */
    /* right: 20%; */
    padding-bottom: 30px;
}

}









@media not all, (hover: hover){

    .Button:not([disabled]):hover::before, .shopify-payment-button__button--unbranded:not([disabled]):hover::before, #shopify-product-reviews .spr-summary-actions-newreview:not([disabled]):hover::before, #shopify-product-reviews .spr-button-primary:not(input):not([disabled]):hover::before, #shopify-product-reviews input.spr-button-primary:not([disabled]):hover::before, #shopify-product-reviews .spr-pagination-prev>a:not([disabled]):hover::before, #shopify-product-reviews .spr-pagination-next>a:not([disabled]):hover::before {
        -webkit-transform-origin: right center;
        transform-origin: right center;
        -webkit-transform: scale(0, 1);
        transform: scale(0, 1);
    }
}

@media not all, (hover: hover){

    #section-collection-list .CollectionItem__Link:hover {
        color: #ffffff;
    }
    .RoundButton:not([aria-expanded="true"]):hover, .flickity-prev-next-button:not([aria-expanded="true"]):hover {
        color: #5c5c5c;
    }
    .RoundButton:hover, .flickity-prev-next-button:hover {
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
    }
    .RoundButton[data-animate-bottom]:hover svg, [data-animate-bottom].flickity-prev-next-button:hover svg {
        -webkit-animation: buttonFromTopToBottom 0.5s ease-in-out forwards;
        animation: buttonFromTopToBottom 0.5s ease-in-out forwards;
    }        
}
.item:hover .swiper-slide{
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
}
