.p-relative{
	position: relative;
}
.content-text{
	position: absolute;
    padding: 0 24px;
    width: 100%;
    /* left: 50%; */
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}
ul, ol {
    margin: 0;
    padding: 0;
    list-style-position: inside;
}
*, *:before, *:after {
    -webkit-box-sizing: border-box !important;
    box-sizing: border-box !important;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
article, aside, details, figcaption, figure, footer, header, main, nav, section, summary {
    display: block;
}
img {
    max-width: 100%;
    height: auto;
    border-style: none;
    vertical-align: top;
}
body {
    font-family: "Century Gothic",sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 0.9rem;
    color: #5c5c5c;
    background: #fff;
    line-height: 1.65;
}
@font-face {
    font-family: Futura;
    font-weight: 400;
    font-style: normal;
    src: url("https://fonts.shopifycdn.com/futura/futura_n4.df36ce3d9db534a4d7947f4aa825495ed740e410.woff2?h1=bWltYW1pbS5jb20&hmac=91e3f807f9f2ef13b54a86878529872bcef67f4218e9103abcc4d459d483b992") format("woff2"), url("https://fonts.shopifycdn.com/futura/futura_n4.6bce24beb4ba1ff4ddeb20f7cd6e2fa513a3d6ec.woff?h1=bWltYW1pbS5jb20&hmac=425e36b320022ec9df6bef397142e89c2a24ca65585e93606e0352cd65941f42") format("woff")
}
@font-face {
    font-family: "Century Gothic";
    font-weight: 400;
    font-style: normal;
    src: url("https://fonts.shopifycdn.com/century_gothic/centurygothic_n4.ad57dd3bb953e5ec072f848ba96048738158e9b0.woff2?h1=bWltYW1pbS5jb20&hmac=e57f16abd07874055754c40b823c08ccfb47b1fb6be203cbc6c3503a6db138b6") format("woff2"), url("https://fonts.shopifycdn.com/century_gothic/centurygothic_n4.346454bcdd76b0c02e149e968e75218ca6ee803f.woff?h1=bWltYW1pbS5jb20&hmac=e9cc0563b49c548bb1007f2260c6692f12674e81e1722da05bd9929e5fb7f3fb") format("woff")
}

@font-face {
    font-family: "Century Gothic";
    font-weight: 700;
    font-style: normal;
    src: url("https://fonts.shopifycdn.com/century_gothic/centurygothic_n7.9c88796e9511a086b9c0038824e3fcaa4e104f7d.woff2?h1=bWltYW1pbS5jb20&hmac=e294655a173a8c0332689ac1ab13a4ab398a2d838fc4d63addb22d43e6b135ac") format("woff2"), url("https://fonts.shopifycdn.com/century_gothic/centurygothic_n7.bfbdd76b5b769e73488b72ad922937634199bb91.woff?h1=bWltYW1pbS5jb20&hmac=3d91b9b59693859e9c33544a1e9a96e82be2277b66669d9b00481d661e2623f4") format("woff")
}

@font-face {
    font-family: "Century Gothic";
    font-weight: 400;
    font-style: italic;
    src: url("https://fonts.shopifycdn.com/century_gothic/centurygothic_i4.057018ca8ff3e7e0367ab50107a08a8a1691315e.woff2?h1=bWltYW1pbS5jb20&hmac=d5259b96dc62cd99de7850e497a5de16b25f57e1afcad900ab54d9225f9de905") format("woff2"), url("https://fonts.shopifycdn.com/century_gothic/centurygothic_i4.6bbeca156a45aa967c74d1bdac2f4ec1824dcada.woff?h1=bWltYW1pbS5jb20&hmac=3548c697806a78ec737a9abaf2066fb27b0dc42f11e0fbf8b850babaa3190f7d") format("woff")
}

@font-face {
    font-family: "Century Gothic";
    font-weight: 700;
    font-style: italic;
    src: url("https://fonts.shopifycdn.com/century_gothic/centurygothic_i7.a93d43c32633e83d8663433e7b3a668198503674.woff2?h1=bWltYW1pbS5jb20&hmac=5adda713a553bfa427b8820b37f511e88b042f5074ac64d2db382d40f9c37458") format("woff2"), url("https://fonts.shopifycdn.com/century_gothic/centurygothic_i7.902eae204ad5c1990bd9339fc5297d31234defc9.woff?h1=bWltYW1pbS5jb20&hmac=cd6b672964954a57d08764719c8911f97d163b2f9ff1728f6faef006377d619e") format("woff")
}
p:last-child, h1:last-child, h2:last-child, h3:last-child, h4:last-child, h5:last-child, h6:last-child {
    margin-bottom: 0;
}
.Container {
    margin: 0 auto;
    padding: 0 24px;
}
.AnnouncementBar {
    position: relative;
    text-align: center;
    font-size: 10px;
    z-index: 1;
}
.AnnouncementBar__Wrapper {
    padding: 12px 15px;
}

p:last-child, h1:last-child, h2:last-child, h3:last-child, h4:last-child, h5:last-child, h6:last-child {
    margin-bottom: 0;
}
.AnnouncementBar__Content {
    color: inherit;
    margin: 0;
}
a {
    /* color: inherit; */
    background-color: transparent;
    text-decoration: none;
}
.Heading {
    font-family: Futura,sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #5c5c5c;
    -webkit-transition: color 0.2s ease-in-out;
    transition: color 0.2s ease-in-out;
    letter-spacing: 0.2em;
    text-transform: uppercase;
}
#section-announcement{
    background: #ffdbd9;
    color: #ff0000;
}

#section-announcement a{
    color: #ff0000;

}
.PageOverlay {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    z-index: 10;
    visibility: hidden;
    opacity: 0;
    background: #363636;
    -webkit-transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
    transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
}

/* NAVIGATION */
.shopify-section--header {
    position: -webkit-sticky;
    position: sticky;
}
.shopify-section--header {
    margin-bottom: calc(-1 * var(--header-height));
}
.shopify-section--header {
    position: relative;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 5;
}
.Header {
    background: #fff;
    color: #5c5c5c;
    -webkit-box-shadow: 0 -1px #e7e7e7 inset;
    box-shadow: 0 -1px #e7e7e7 inset;
    -webkit-transition: background 0.3s ease-in-out, -webkit-box-shadow 0.3s ease-in-out;
    transition: background 0.3s ease-in-out, -webkit-box-shadow 0.3s ease-in-out;
    transition: background 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    transition: background 0.3s ease-in-out, box-shadow 0.3s ease-in-out, -webkit-box-shadow 0.3s ease-in-out;
}
.Header__Wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 15px 18px;
}
.Icon-Wrapper--clickable {
    position: relative;
    background: transparent;
}
.Header__Icon {
    display: block;
    line-height: 1;
    -webkit-transition: color 0.2s ease-in-out;
    transition: color 0.2s ease-in-out;
}
.supports-sticky .Header--transparent .Header__Icon, .supports-sticky .Header--transparent .Header__CurrencySelector, .supports-sticky .Header--transparent .HorizontalList__Item>.Heading, .supports-sticky .Header--transparent .Header__LogoLink>.Heading, .supports-sticky .Header--transparent .Text--subdued {
    color: currentColor;
}
.supports-sticky .Header--transparent {
    background: transparent;
}
.supports-sticky .Header--transparent {
    box-shadow: 0 -1px rgba(255, 255, 255, 0.25) inset;
    color: #ffffff;
}
.HorizontalList {
    list-style: none;
    margin: -6px -8px;
}
.HorizontalList--spacingExtraLoose .HorizontalList__Item {
    margin-right: 17px;
    margin-left: 17px;
}
.HorizontalList__Item {
    display: inline-block;
    margin: 6px 8px 6px 8px;
}
.HorizontalList__Item {
    display: inline-block;
    margin: 6px 8px 6px 8px;
}
.Header__Logo {
    position: relative;
    margin-bottom: 0;
}
.Header__LogoLink, .Header__LogoImage {
    display: block;
}
.supports-sticky .Header--transparent .Header__LogoImage--transparent {
    opacity: 1;
}
.supports-sticky .Header--transparent .Header__LogoImage--primary:not(:only-child) {
    opacity: 0;
}
.Header__LogoImage--transparent {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
}
.Header__LogoImage {
    margin: 0 auto;
    -webkit-transition: opacity 0.3s ease-in-out;
    transition: opacity 0.3s ease-in-out;
}
.Header__LinkSpacer {
    position: absolute;
    display: block;
    bottom: 0;
    color: transparent;
    pointer-events: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.Header__LinkSpacer::after {
    position: absolute;
    content: '';
    bottom: 0;
    left: 0;
    width: 100%;
    opacity: 0;
    -webkit-transform: scale(0, 1);
    transform: scale(0, 1);
    -webkit-transform-origin: left center;
    transform-origin: left center;
    border-bottom: 2px solid #5c5c5c;
    -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
    transition: opacity 0.3s, -webkit-transform 0.3s;
    transition: transform 0.3s, opacity 0.3s;
    transition: transform 0.3s, opacity 0.3s, -webkit-transform 0.3s;
}
.Select--transparent select {
    padding-right: 15px;
    background: transparent;
    border: none;
    font-family: Futura,sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: inherit;
    text-transform: uppercase;
    letter-spacing: 0.2em;
}
.Select select {
    -webkit-appearance: none;
    -moz-appearance: none;
    display: inline-block;
    color: inherit;
    cursor: pointer;
    border-radius: 0;
    line-height: normal;
}
.Icon {
    display: inline-block;
    height: 1em;
    width: 1em;
    fill: currentColor;
    vertical-align: middle;
    stroke-width: 1px;
    background: none;
    pointer-events: none;
}
svg:not(:root) {
    overflow: hidden;
}
.Select svg {
    position: absolute;
    line-height: normal;
    pointer-events: none;
    vertical-align: baseline;
    fill: currentColor;
}
.shopify-section--header {
    position: -webkit-sticky;
    position: sticky;
}


/* MAIN */
#main{
    margin-top: -119px;
}
button, html input[type="button"], input[type="reset"], input[type="submit"] {
    -webkit-appearance: button;
    cursor: pointer;
}
button, input[type="submit"] {
    padding: 0;
    overflow: visible;
    background: none;
    border: none;
    border-radius: 0;
    -webkit-appearance: none;
}
button, input, optgroup, select, textarea {
    color: inherit;
    font: inherit;
    margin: 0;
}
.shopify-section--slideshow {
    position: relative;
}
.shopify-section--bordered>.Section--spacingNormal {
    padding: 50px 0;
    margin-top: 0;
    margin-bottom: 0;
}
.SectionHeader--center {
    text-align: center;
}
.TabList {
    white-space: nowrap;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
}
.TabList__Item {
    position: relative;
}
.TabList__Item.is-active::after {
    width: calc(100% - 0.2em);
}
.TabList__Item::after {
    position: relative;
    display: block;
    content: '';
    bottom: 1px;
    left: 0;
    height: 1px;
    width: 0;
    background: #5c5c5c;
    -webkit-transition: width 0.25s ease-in-out;
    transition: width 0.25s ease-in-out;
}

.Carousel__Cell {
    display: block;
    width: 100%;
	position: absolute;
	left: 0;
	visibility: hidden;
	opacity: 0;	
}
.Carousel__Cell.carousel-cell.is-selected{
    left: 0 !important;
}
.Carousel__Cell.is-selected {
	opacity: 1;	
	visibility: inherit;

}
#section-slideshow .flickity-lazyloaded{
	width: 100vw;
}
#section-slideshow .flickity-page-dots{
    bottom: 30px;
	right: 30px;
	text-align: right;
}
.SectionFooter {
    margin-top: 50px;
    text-align: center;
}
#section-slideshow .flickity-page-dots .dot.is-selected{
	background: #fffcfc;
}
#section-slideshow body .flickity-page-dots .dot{
	border-color: #fff;	
	border-width: 2px;
}
#section-slideshow .flickity-page-dots .dot{
	opacity: 1;
	width: 10px;
    height: 10px;
    margin: 0 7px;	
	background: transparent;
	border: 1px solid #e7e7e7;
}
.TabPanel[aria-hidden="false"] {
    display: block;
}
.Grid {
    display: block;
    list-style: none;
    padding: 0;
    margin: 0 0 0 -24px;
    font-size: 0;
}
.Grid__Cell {
    box-sizing: border-box;
    display: inline-block;
    width: 100%;
    padding: 0 0 0 24px;
    margin: 0;
    vertical-align: top;
    font-size: 1rem;
}
.ProductItem {
    text-align: center;
    white-space: normal;
}
.ProductItem__Wrapper {
    position: relative;
}
.ProductItem__ImageWrapper {
    display: block;
}
.AspectRatio--withFallback {
    padding-bottom: 0 !important;
}
.AspectRatio {
    position: relative;
    margin-left: auto;
    margin-right: auto;
}
/* .AspectRatio>img, .no-js .AspectRatio>noscript img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
} */
.ProductItem__Info {
    font-size: 12px;
}
.ProductItem__Info--left {
    text-align: left;
}
.ProductItem__Info {
    margin-top: 20px;
    font-size: 11px;
}
.ProductItem__Vendor, .ProductItem__Title {
	display: block;
	font-size: 12px;
    margin-bottom: 4px;
}
.Price {
    display: inline-block;
}
.Text--subdued {
    color: #939393;
}
.Heading {
    font-family: Futura,sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #5c5c5c;
    -webkit-transition: color 0.2s ease-in-out;
    transition: color 0.2s ease-in-out;
    letter-spacing: 0.2em;
    text-transform: uppercase;
}
.AspectRatio>img{
    /* position: absolute; */
    /* top: 0;
    left: 0; */
    height: 100%;
    width: 100%;
}
.Button::before, .shopify-payment-button__button--unbranded::before, #shopify-product-reviews .spr-summary-actions-newreview::before, #shopify-product-reviews .spr-button-primary:not(input)::before, #shopify-product-reviews input.spr-button-primary::before, #shopify-product-reviews .spr-pagination-prev>a::before, #shopify-product-reviews .spr-pagination-next>a::before {
    position: absolute;
    content: '';
    display: block;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
    -webkit-transform-origin: left center;
    transform-origin: left center;
    z-index: -1;
}
a:active, a:hover {
	outline: 0;
	text-decoration: none;
}
.Button--primary:hover{
    color: #5c5c5c;
    background-color: transparent;
}
.Button--primary, .shopify-payment-button__button--unbranded, #shopify-product-reviews .spr-summary-actions-newreview, #shopify-product-reviews .spr-button-primary:not(input) {
    color: #fff;
    border-color: #5c5c5c;
}
.Button, .shopify-payment-button__button--unbranded, #shopify-product-reviews .spr-summary-actions-newreview, #shopify-product-reviews .spr-button-primary:not(input), #shopify-product-reviews input.spr-button-primary, #shopify-product-reviews .spr-pagination-prev>a, #shopify-product-reviews .spr-pagination-next>a {
    position: relative;
    display: inline-block;
    padding: 14px 28px;
    line-height: normal;
    border: 1px solid transparent;
    border-radius: 0;
    text-transform: uppercase;
    font-size: 12px;
    text-align: center;
    letter-spacing: 0.2em;
    font-family: Futura,sans-serif;
    font-weight: 400;
    font-style: normal;
    background-color: transparent;
    -webkit-transition: color 0.45s cubic-bezier(0.785, 0.135, 0.15, 0.86),border 0.45s cubic-bezier(0.785, 0.135, 0.15, 0.86);
    transition: color 0.45s cubic-bezier(0.785, 0.135, 0.15, 0.86),border 0.45s cubic-bezier(0.785, 0.135, 0.15, 0.86);
    z-index: 1;
    -webkit-tap-highlight-color: initial;
}
.Button--primary::before, .shopify-payment-button__button--unbranded::before, #shopify-product-reviews .spr-summary-actions-newreview::before, #shopify-product-reviews .spr-button-primary:not(input)::before {
    background-color: #5c5c5c;
}
@media not all, (hover: hover){
	.Button:not([disabled])::before, .shopify-payment-button__button--unbranded:not([disabled])::before, #shopify-product-reviews .spr-summary-actions-newreview:not([disabled])::before, #shopify-product-reviews .spr-button-primary:not(input):not([disabled])::before, #shopify-product-reviews input.spr-button-primary:not([disabled])::before, #shopify-product-reviews .spr-pagination-prev>a:not([disabled])::before, #shopify-product-reviews .spr-pagination-next>a:not([disabled])::before {
		-webkit-transition: -webkit-transform 0.45s cubic-bezier(0.785, 0.135, 0.15, 0.86);
		transition: -webkit-transform 0.45s cubic-bezier(0.785, 0.135, 0.15, 0.86);
		transition: transform 0.45s cubic-bezier(0.785, 0.135, 0.15, 0.86);
		transition: transform 0.45s cubic-bezier(0.785, 0.135, 0.15, 0.86),-webkit-transform 0.45s cubic-bezier(0.785, 0.135, 0.15, 0.86);
	}
}
.Button--primary, .shopify-payment-button__button--unbranded, #shopify-product-reviews .spr-summary-actions-newreview, #shopify-product-reviews .spr-button-primary:not(input) {
    color: #fff;
    border-color: #5c5c5c;
    border-top-color: rgb(92, 92, 92);
    border-right-color: rgb(92, 92, 92);
    border-bottom-color: rgb(92, 92, 92);
    border-left-color: rgb(92, 92, 92);
}
section#section-1537898967307 .SectionHeader h2{
	visibility: inherit;
    opacity: 1;
    transform: matrix(1, 0, 0, 1, 0, 0);
}
#section-1537898967307 .Heading, #section-1537898967307 .flickity-page-dots {
    color: #ffffff;
}
.Heading {
    font-family: Futura,sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #5c5c5c;
    -webkit-transition: color 0.2s ease-in-out;
    transition: color 0.2s ease-in-out;
    letter-spacing: 0.2em;
    text-transform: uppercase;
}




/* FOOTER */
.Footer {
    padding: 34px 0;
    background: #fff;
    color: #939393;
    border-top: 1px solid #e7e7e7;
}
.Footer__Block:first-child {
    margin-top: 0;
}
.Footer__Title {
    margin-bottom: 20px;
}
.Footer .Heading, .Footer .Link--primary:hover {
    color: #5c5c5c;
}
.Linklist {
    list-style: none;
    padding: 0;
}
.Linklist__Item {
    position: relative;
    display: block;
    margin-bottom: 12px;
    width: 100%;
    line-height: 1.5;
    text-align: left;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}
.Linklist__Item::before {
    position: absolute;
    content: '';
    display: inline-block;
    width: 6px;
    height: 6px;
    top: calc(50% - 3px);
    left: 0;
    border-radius: 100%;
    background: #5c5c5c;
    opacity: 0;
    -webkit-transition: opacity 0.1s ease-in-out;
    transition: opacity 0.1s ease-in-out;
}
.Linklist__Item>.Link, .Linklist__Item>.shopify-payment-button__more-options {
    display: block;
    width: 100%;
    text-align: inherit;
}
.Link, .shopify-payment-button__more-options {
    -webkit-transition: color 0.2s ease-in-out, opacity 0.2s ease-in-out;
    transition: color 0.2s ease-in-out, opacity 0.2s ease-in-out;
}
.Rte p:last-child, .Rte blockquote:last-child, .Rte ul:last-child, .Rte ol:last-child, .Rte h1:last-child, .Rte h2:last-child, .Rte h3:last-child, .Rte h4:last-child, .Rte h5:last-child, .Rte h6:last-child {
    margin-bottom: 0;
}
p:last-child, h1:last-child, h2:last-child, h3:last-child, h4:last-child, h5:last-child, h6:last-child {
    margin-bottom: 0;
}
.Footer__Content+.Footer__Newsletter {
    margin-top: 18px;
}
.Form {
    width: 100%;
}
.Form__Input, #shopify-product-reviews .spr-form-input-text, #shopify-product-reviews .spr-form-input-email, #shopify-product-reviews .spr-form-input-textarea, .Form__Textarea {
    -webkit-appearance: none;
    display: block;
    padding: 12px 14px;
    border-radius: 0;
    border: 1px solid #e7e7e7;
    width: 100%;
    line-height: normal;
    resize: none;
    -webkit-transition: border-color 0.1s ease-in-out;
    transition: border-color 0.1s ease-in-out;
    background: transparent;
}
.Form__Submit {
    display: block;
    margin-top: 20px;
}
.Footer a.Link{
    color: #939393;
}
.Footer .Button::before {
    width: 101%;
}
.Footer__Social {
    margin-top: 5px;
}
.HorizontalList--spacingLoose {
    margin-left: -14px;
    margin-right: -14px;
}
.HorizontalList--spacingLoose .HorizontalList__Item {
    margin-right: 14px;
    margin-left: 14px;
}
.HorizontalList__Item {
    display: inline-block;
    margin: 6px 8px 6px 8px;
}
.HorizontalList__Item>.Link, .HorizontalList__Item>.shopify-payment-button__more-options {
    display: inline-block;
}
.Icon-Wrapper--clickable {
    position: relative;
    background: transparent;
}
.Icon-Wrapper--clickable::before {
    position: absolute;
    content: '';
    top: -8px;
    right: -12px;
    left: -12px;
    bottom: -8px;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
}
.Footer__PaymentList {
    margin: 54px -24px 0 -24px;
    padding-top: 28px;
    border-top: 1px solid #efefef;
}
.Footer__Inner+.Footer__Aside {
    margin-top: 65px;
}